// app global css in SCSS form

// Override default q-card border-radius
.q-card {
  border-radius: 8px;
}

// Override default outlined q-input border-radius
.q-field--outlined .q-field__control {
  border-radius: 8px;
}

// Show components
.show-property-name {
  font-weight: bold;
}

// Override default q-table items per page select position
.q-table__bottom {
  justify-content: start;
  .q-table__separator {
    flex: initial;
  }

  .q-table__control {
    margin-top: 25px;
  }
}

// Category color indicator circle
.category-table-color-circle {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12);
}

// Display floating action button in front of calendar
.fixed-bottom-right {
  z-index: 5;
}

// Some general helper classes
.display-flex {
  display: flex;
}

.additional-line-height {
  line-height: 3rem;
}

.validation-input {
  margin-bottom: 8px;
}

.no-validation-input {
  margin-bottom: 28px;
}
